{% extends "base.html.twig" %}
{% block title %}
	Inscription
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{'asset/css/inscription.css'}}">
{% endblock %}
{% block body %}
	<main>
		<br><br><br><br><br><br><br><br>
		<div id="deco">
			<div>
				<img class="portecle" src="{{'asset/imageLG/FT.jpg'}}" alt="porteclé">
				<img class="contact" src="{{'asset/imageLG/CT.jpg'}}" alt="photo deco">
				<img class="table" src="{{'asset/imageLG/CV.jpg'}}" alt="deco table">
			</div>
			<div>
				<form action="">
					<fieldset>
						<legend>INSCRIVEZ-VOUS</legend>
						<div>
							<label for="nameinput">Votre nom</label><br>
							<input type="text" name="firstname" id="firstname" required>
						</div>
						<div>
							<label for="nameinput">Votre prénom</label><br>
							<input type="text" name="lastname" id="lastname" required>
						</div>
						<div>
							<label for="emailinput">Votre email</label><br>
							<input type="email" name="email" id="emailinput" placeholder="exemple@demo.com" required>
						</div>
						<div>
							<label for="telinput">Votre numero de telephone</label><br>
							<input type="tel" name="tel" id="telinput" required>
						</div>
						<div>
							<label for="motdepasse">Mot de passe</label><br>
							<input type="password" id="motdepasse" name="motdepasse" minlength="6" maxlength="9">
						</div>
						<div>
							<label for="adresse">Adresse</label><br>
							<input type="text" name="adresse" id="adresse" required>
						</div>
						<div>
							<label for="ville">Ville</label><br>
							<input type="text" name="ville" id="ville" required>
						</div>
						<div>
							<label for="codepostale">Code postale</label><br>
							<input type="text" name="codepostale" id="codepostale">
						</div>
						<div>
							<label for="pays">Pays</label><br>
							<input type="text" name="pays" id="pays" required>
						</div>
						<input type="submit" value="valider">
						<input type="reset">
					</fieldset>
				</form>
			</div>
			<div>
				<img class="portecle" src="{{'asset/imageLG/FT.jpg'}}" alt="porteclé">
				<img class="contact" src="{{'asset/imageLG/CT.jpg'}}" alt="photo deco">
				<img class="table" src="{{'asset/imageLG/CV.jpg'}}" alt="deco table">
			</div>
		</div>
	</main>
{% endblock %}
